/* Utility */
:root {
  --yb-color-utility-white-1: rgba(255, 255, 255, 1.00);
  --yb-color-utility-white-2: rgba(255, 255, 255, 0.75);
  --yb-color-utility-white-3: rgba(255, 255, 255, 0.50);
  --yb-color-utility-white-4: rgba(255, 255, 255, 0.25);
  --yb-color-utility-black-1: rgba(0, 0, 0, 1.00);
  --yb-color-utility-black-2: rgba(0, 0, 0, 0.75);
  --yb-color-utility-black-3: rgba(0, 0, 0, 0.50);
  --yb-color-utility-black-4: rgba(0, 0, 0, 0.25);

  --yb-color-utility-error: #ff0000;
  --yb-color-utility-warn: #ffa500;
  --yb-color-utility-success: #008000;
}
/* Palette */
:root {
  --yb-color-primary: #0000ff;
  --yb-color-secondary: purple;
}
/* Elements LIGHT */
:root {
  --color-background: var(---yb-color-utility-white-1);
}
/* Elements DARK */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(---yb-color-utility-black-1);
  }
}